params {
    reads_dir  = '/gpfs3/well/cornall/users/aly597/task/mtb_consensus_pipeline/fastq'
    ref_fasta  = '/gpfs3/well/cornall/users/aly597/task/mtb_consensus_pipeline/ref/NC_000962.3.fasta'
    out_prefix = 'consensus'
    outdir     = '/gpfs3/well/cornall/users/aly597/task/mtb_consensus_pipeline/result'

}

process {
    withName: consensus {
        storeDir = "${params.outdir}"
    }
}

report {
    enabled = true
}

trace {
    enabled = true
}

dag {
    enabled = true
}

